p .notice{
	color:red;
}
p .error{
	color:red;
}
.button {
	background:#F0F0F0;
	color:blue;
	font-family:'Helvetica Neue',sans-serif;
	font-size:13px;
	border-radius:2px;
}

.traffic{
	color:#000099;
}